.header {
  position: fixed;
  width: 100%;
  height: 100px;
  z-index: 100;
  background-color: rgb(244, 239, 236);
}
.header-wrap {
  margin: 0 auto;
  width: 80%;
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  .logo {
    a {
      text-decoration: none;
      span {
        font-size: 40px;
        font-weight: 700;
        font-family: "Titan One", sans-serif;
      }
      .Anon {
        color: #e4beb3;
      }

      .Care {
        color: #94d0ff;
      }

      .Hub {
        color: #ffd0a6;
      }
    }
  }
  .contents {
    width: 400px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 10px;
    a {
      font-size: 20px;
      font-weight: 700;
      color: inherit;
      text-decoration: none;
      font-family: "M PLUS Rounded 1c", sans-serif;
      color: #a2b59f;
    }
  }
}
